services:
  mariadb:
    image: mariadb:1.0
    container_name: mariadb
    build:
      context: $MARIADB
      dockerfile: Dockerfile
    ports:
      - "3306:3306"
    environment:
      DB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      # MYSQL_USER: $MYSQL_USER
      # MYSQL_DATABASE: $MYSQL_DATABASE
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - db_data:/etc/data 
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p$(cat /run/secrets/db_root_password) || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
    env_file:
      - .env

  wordpress:
    image: wordpress:wp
    container_name: wordpress
    build:
      context: $WORDPRESS
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    environment:
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
      WP_ADMIN_EMAIL_FILE: /run/secrets/wp_admin_email
      WP_USER_PASSWORD_FILE: /run/secrets/wp_user_password
      WP_USER_EMAIL_FILE: /run/secrets/wp_user_email
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      # WP_URL: $WP_URL
      # WP_TITLE: $WP_TITLE
      # WP_ADMIN_USER: $WP_ADMIN_USER
      # WP_USER: $WP_USER
      # DB_HOST: $DB_HOST
      # MYSQL_USER: $MYSQL_USER
      # MYSQL_DATABASE: $MYSQL_DATABASE
    secrets:
      - wp_admin_password
      - wp_user_password
      - wp_admin_email
      - wp_user_email
      - db_user_password
    restart: always
    volumes:
      - wp_data:/etc/data
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env


volumes:
  db_data:
  wp_data:

secrets:
  db_root_password: 
    file: ./secrets/db_root_password.txt
  db_user_password:
    file: ./secrets/db_user_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt
  wp_user_password:
    file: ./secrets/wp_user_password.txt
  wp_admin_email:
    file: ./secrets/wp_admin_email.txt
  wp_user_email:
    file: ./secrets/wp_user_email.txt

