services:
  mariadb:
    image: mariadb:1.0
    container_name: mariadb
    networks: 
      - inception
    build:
      context: $MARIADB
      dockerfile: Dockerfile
    environment:
      DB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      # MYSQL_USER: $MYSQL_USER
      # MYSQL_DATABASE: $MYSQL_DATABASE
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p$(cat /run/secrets/db_root_password) || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
    env_file:
      - .env

  wordpress:
    image: wordpress:1.0
    container_name: wordpress
    networks: 
      - inception
    build:
      context: $WORDPRESS
      dockerfile: Dockerfile
    environment:
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
      WP_ADMIN_EMAIL_FILE: /run/secrets/wp_admin_email
      WP_USER_PASSWORD_FILE: /run/secrets/wp_user_password
      WP_USER_EMAIL_FILE: /run/secrets/wp_user_email
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      # WP_URL: $WP_URL
      # WP_TITLE: $WP_TITLE
      # WP_ADMIN_USER: $WP_ADMIN_USER
      # WP_USER: $WP_USER
      # DB_HOST: $DB_HOST
      # MYSQL_USER: $MYSQL_USER
      # MYSQL_DATABASE: $MYSQL_DATABASE
    secrets:
      - wp_admin_password
      - wp_user_password
      - wp_admin_email
      - wp_user_email
      - db_user_password
    restart: unless-stopped
    volumes:
      - wp_data:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env

  nginx:
    image: nginx:server
    container_name: nginx
    networks: 
      - inception
    build:
      context: $NGINX
      dockerfile: Dockerfile
    ports:
      - "443:443"
    restart: always
    depends_on: 
      - "wordpress"
    volumes:
      - wp_data:/var/www/html

volumes:
  db_data: 
    name: db_data
    driver: local
    driver_opts:
        type: none
        o: bind
        device: /home/ncampbel/Data/db_data
  wp_data: 
    name: wp_data
    driver: local
    driver_opts:
        type: none
        o: bind
        device: /home/ncampbel/Data/wp_data

networks:
  inception:
    driver: bridge

secrets:
  db_root_password: 
    file: ./secrets/db_root_password.txt
  db_user_password:
    file: ./secrets/db_user_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt
  wp_user_password:
    file: ./secrets/wp_user_password.txt
  wp_admin_email:
    file: ./secrets/wp_admin_email.txt
  wp_user_email:
    file: ./secrets/wp_user_email.txt

