[mysqld]
# The OS user that the MariaDB server runs as.
# Important for permissions on data and runtime directories.
user = mysql
# Ensures the TCP network interface is enabled. It's required for WordPress being able to connect to MariaDB
skip-networking = false
port = 3306
# To listen on all interfaces for remote access
bind-address = 0.0.0.0
# Directory where MariaDB stores all database files, tables, and logs.
datadir = /var/lib/mysql
tmpdir = /tmp
socket = /run/mysqld/mysqld.sock

[client]
socket = /run/mysqld/mysqld.sock